local_mode true
cookbook_path ["cookbooks", "site-cookbooks"]

knife[:ssh_attribute] = "knife_zero.host"
knife[:use_sudo] = true

# knife[:identity_file] = "~/.ssh/id_rsa"
# knife[:ssh_user] = "tabakazu"

knife[:automatic_attribute_whitelist] = %w[
  fqdn
  os
  os_version
  hostname
  ipaddress
  roles
  recipes
  ipaddress
  platform
  platform_version
  cloud
  cloud_v2
  chef_packages
]